body{
    background: #EBF5FA;
    display: flex;
    justify-content: center;
}

.ingresar-texto{
    position: relative;
}

.ingresar-texto label{
    position: absolute;
    left: 40px;
    top: 20px;
}

#mi-textarea{
    background-color: transparent;
    border: none;
}

label{
    font-size: 25px;
    color: #265084 ;
    font-weight: bold;
}

.contenedor_encriptar_texto{
    background: white;
    border-radius: 2em;
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor_encriptar_texto h2{
    width: 70%;
    text-align: center;
}

.contenedor_encriptar_texto p{
    width: 80%;
    text-align: center;
}

.aviso{
    display: flex;
    margin: 10px 0 10px 0;
}

.aviso p{
    margin: 0 0 0 10px;
}

.botones{
    width: 100%;
}

.botones__btn{
    width: 48%;
    height: 50px;
    border-radius: 20px;
    border-color: #265084 ;
}

.botones__btn#Encriptar{
    margin-right: 20px;
    color: white;
    background-color: #265084 ;
}

.botones__btn#Desencriptar{
    color: #265084 ;
    background-color: #D2E0EA ;
}